<ion-view title="Game" hide-nav-bar="true">
    <ion-content>
        
        <!--
            <ion-list>
                <ion-item ng-repeat="item in allWords">
                    {{item.word}} , {{item.type}}
                </ion-item>
            </ion-list>
        -->
        
        <div style="display: block; height: 60px; padding-top: 5px;">
            <span class="header-text" > {{currentTeam.nick}} </span>
            <span class="avatar-header" style="background-position:{{currentTeam.picture}};"></span>
            
        </div>
        <div class="card">
            <div class="item item-divider">
                <span ng-show="buttonsDisabled" class="choose">{{ 'game.choose' | translate }}</span>
                <span ng-hide="buttonsDisabled" class="card-header"> {{wordType}} </span>
                <span ng-show="showHideWordsButton()" style="float: right;"> <button class="button button_gray icon-right ion-eye-disabled" ng-click="hideWords()"> {{ 'game.hide' | translate }} </button> </span>
                <span ng-show="showShowWordsButton()" style="float: right;" > <button class="button button_gray icon-right ion-eye" ng-click="showWords()"> {{ 'game.show' | translate }} </button> </span>
            </div>
            <div id="words-card" ng-hide="wordsHidden">
                <div class="item item-text-wrap item-icon-right" my-selected="{{words[0].selected}}" ng-click="selectWord(0)" ng-model="words[0]" >
                    <span class="{{icon}}"> </span>
                    <span class="aktivity-word" >{{words[0].word}}</span>
                    <span style="float: right;  padding-top:19px;" >
                        {{words[0].points}}
                    </span>
                </div>
                <div class="item item-text-wrap item-icon-right"  my-selected="{{words[1].selected}}" ng-click="selectWord(1)" >
                    <span class="{{icon}}"> </span>
                    <span class="aktivity-word" >{{words[1].word}}</span>
                    <span style="float: right; padding-top:19px;" >
                        {{words[1].points}}
                    </span>
                </div>
            </div>
        </div>
        <div class="card" ng-show="isDrawing()">
            <a class="button icon-right button_gray ion-edit full-width" ng-click="openModal()">
                {{ 'game.draw' | translate }}
            </a>
        </div>
        <div style="text-align:center;" > {{rangeValue}} {{ 'game.sec' | translate }} <i class="icon ion-ios7-stopwatch-outline"></i> </div>

        <div class="range">
            
            <progress value="{{rangeValue}}"  name="time" max="60" ></progress>
        </div>

        <div id="openGame" class="list" style="padding-top:10px; display: none; "  >
            <label class="item item-input item-select"  >
                <div class="input-label">
                    points to: 
                </div>
                <select>
                    <option>Team 1</option>
                    <option selected>Currently playing</option>
                    <option>Team 3</option>
                </select>
            </label>
        </div>
        <div style="padding-top:10px;" >
            <button id="correct" class="button button_green icon-right ion-checkmark-circled" style="float:left; margin-left: 8%; width:40%;" ng-disabled="buttonsDisabled" ng-click="correct()">
                {{ 'game.correct' | translate }}
            </button>
            <button id="wrong" class="button button_red icon-right ion-close-circled" style="float:right; margin-right: 8%; width:40%;" ng-disabled="buttonsDisabled" ng-click="wrong()" >
                {{ 'game.wrong' | translate }}
            </button>
        </div>
        
    </ion-content>
</ion-view>