<ion-view title="Aktivity">
    <ion-content class="padding" >
        
      <div ng-show="supported">
        <div class="content  ">    
            <a class="button icon-right button-balanced button-outline button-large ion-play full-width margin-top-small margin-bottom-small"
                href="#/teams" ng-click="start()" >
                Start new game
            </a>

            <a class="button icon-right button-energized button-outline button-large ion-play full-width margin-top-small margin-bottom-small"
                ng-click="continueTo()" ng-show="initialized" >
                Continue
            </a>

            <a class="button icon-right button-dark button-outline ion-gear-b full-width" href="#/options">
                Options
            </a>
        </div>
       </div>
       <div ng-hide="supported" >
           <h1> We are sorry but your version of browser is not supported :(  </h1>
           <h2> You need browser that support localStorage.</h2>
       </div>
    </ion-content>
</ion-view>
