<ion-view title="Teams">
    <ion-content>
       
        <button class="button button_green_light ion-plus-circled icon-right" style="width:100%;" ng-click="addTeam()" >
            Add team
        </button>
        
        
        <form name="teamForm" novalidate="novalidate" >
            
            
            <ion-list>
                <ion-item ng-repeat="error in errors" type="item-text-wrap" >
                    <div class="error-message"> {{error}} </div>
                </ion-item>
            </ion-list>
            
            <ion-list>
                <ion-item ng-repeat="team in teams" type="item-text-wrap" >
                    <span ng-click="team.picture = getPicture()" class="avatar" style="background-position:{{team.picture}};"></span>
                    <div class=" item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="team.nick" value="{{team.nick}}" required ng-maxLength="20" >
                        </label>
                        <button class="button button-clear button-assertive button-icon icon ion-ios7-close" ng-click="removeTeam(team.id)"  />
            
                    </div>

                </ion-item>
            </ion-list>
            <div style="text-align: center; padding-top: 15px">
                <button type="submit" class="button button_green icon-right ion-arrow-right-b" ng-click="continue(teams, teamForm)" ng-disabled="teamForm.$invalid" style="width: 50%"  > Continue </button>
            </div>
        </form>
    </ion-content>
</ion-view>
