# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

analysis/screens/resultsPage.png
aktivity.sln.DotSettings.user
aktivity.v12.suo
analysis/screens/addTeamPage.png
analysis/screens/aktivityPage.png
analysis/screens/allPages.png
analysis/testScenario.txt
analysis/screens/mainPage.png
aktivity.v11.suo
aktivity.sln