.full-width {
    width: 100%;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

input.ng-invalid.ng-dirty {
    background-color: rgba(255,0,0,0.5);
}
.error-message {
    color: rgba(255,0,0,0.5);
}
.wordSelected
{
    background-color: #E1F0E8;
}
.currentteam {
    font-weight: bold;
}

.aktivity-icon {
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.draw{
    background-image: url("../img/draw_small.png")
}

.talk{
    background-image: url("../img/talk_small.png")
}

.pantomime{
    background-image: url("../img/pantomime_small.png")
}

.card .item-icon-left {
    padding-left: 15px;
}
.aktivity-word {
    padding-left: 10px;
}
.aktivity-progress {
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
}

.card-header {
    margin-top: 13px;
    display: block;
    float: left;
}

progress {
    width: 80%;
}
progress[value] {
    background-color: white;
    color: #CC0000;

    
} /* IE10 */
progress::-webkit-progress-bar-value {background:#CC0000;}
progress::-webkit-progress-value { 
    background: #CC0000; 
    background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, green 0%, yellow 60%, red 95%);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;}
progress::-moz-progress-bar {
    background: #CC0000; 
    background-image:
	   -moz-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -moz-linear-gradient(left, green 0%, yellow 60%, red 95%);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
